extends layout

block content
  h1= title
  h3 History
  p The following ages have been calculated:

  - each dbEntry in dbValues
    p Name: #{dbEntry.name} , Days Alive: #{dbEntry.daysalive} , Birthdate: #{dbEntry.birthdate}


  br
  br
  a(href='/lifecalc') Calculate another Age