extends layout

block content
  h1= title
  p The Life Calculator will determine the number of days you have been alive.
  p Please enter the date of birth details and then select "Calculate"

  br

  <form method="post" action="/lifecalc">
  p Name: 
  <input type="text" name="name">
  p Year: 
  <input type="text" name="year" id="year">
  p Month: 
  <input type="text" name="month" id="month">
  p Day: 
  <input type="text" name="day" id="day">
  br
  br
  <input type="submit" value="Calculate">
  </form>

  br
  br
  a(href='/history') View History