extends layout

block content
  h1= title
  p The Life Calculator will determine the number of days you have been alive.
  br
  br
  p #{name}, You have been alive for #{days} days!

  br

  a(href='/lifecalc') Calculate another Age
  br
  br
  a(href='/history') View History

